DATABASE_URL=""
DIRECT_URL=""

JWT_SECRET=""

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
NEXT_PUBLIC_RAZORPAY_KEY_ID=""
RAZORPAY_WEBHOOK_SECRET=""

DELHIVERY_API_TOKEN=""
DELHIVERY_API_BASE_URL=""
DELHIVERY_PICKUP_NAME=""
DELHIVERY_PICKUP_ADDRESS=""
DELHIVERY_PICKUP_CITY=""
DELHIVERY_PICKUP_STATE=""
DELHIVERY_PICKUP_COUNTRY=""
DELHIVERY_PICKUP_PINCODE=""
DELHIVERY_PICKUP_PHONE=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

NEXT_PUBLIC_STAFF_PUSH_VAPID_PUBLIC_KEY=""
STAFF_PUSH_VAPID_PRIVATE_KEY=""
