@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c89b3c;
  --secondary: #6d2e00;
  --background: #fff8ee;
  --foreground: #1a1a1a;
  --white: #ffffff;

  --font-heading: var(--font-playfair);
  --font-body: var(--font-poppins);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding-inline: 24px;
}

.section {
  padding-block: 100px;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

@keyframes heroZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

@keyframes heroZoom {
  0% {
    transform: scale(0.96);
  }

  100% {
    transform: scale(1);
  }
}

.animate-heroZoom {
  animation: heroZoom 8s ease-in-out forwards;
}